<!DOCTYPE html>
<html>
  <head>
    <title>FasalMovies</title>
  </head>
  <body>
    <div id="shell">
      <div id="header">
        <h1 id="logo" style="text-align: center">Watch Lists</h1>
        <div id="sub-navigation">
          <ul>
            <li><a href="/home">HOME</a></li>
            <li><a href="/logout">LOGOUT</a></li>
          </ul>
        </div>
      </div>
      <div id="main">
        {% for list_name, movies in info.items() %}
        <div class="list">
          <button
            class="delete-button"
            onclick="deleteWatchList('{{ list_name }}')"
          >
            Delete
          </button>
          <h2>{{ list_name }}</h2>
          <ul>
            {% for movie_name in movies %}
              {% if movie_name != "" %}
              <li onclick="openMovie('{{ movie_name }}')">{{ movie_name }}<button class="remove-btn" onclick="removeMovie('{{ list_name }}', '{{ movie_name }}')">Remove</button></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
        <div class="list create" onclick="createWatchList()">
          <h2>Create New WatchList</h2>
        </div>
      </div>
    </div>
    <script>
      function openMovie(movieName) {
        console.log(movieName);
        movieName = movieName.replace(/ /g, "+");
        window.location.href = `/${movieName}`;
      }

      function createWatchList() {
        let name = prompt("Enter the WatchList's name");
        console.log(name);
        if (name == null) {
          return;
        }
        const arrayOfListNames = document.querySelectorAll("h2");
        for (let i = 0; i < arrayOfListNames.length; i++) {
          if (arrayOfListNames[i].innerHTML == name) {
            alert(`The watch list ${name} already exists`);
            return;
          }
        }
        const parent = document.querySelector("#main");
        const referenceElement = document.querySelector(".create");
        const newWatchListDiv = document.createElement("div");
        const deleteButton = document.createElement('button');
        deleteButton.classList.add('delete-button');
        deleteButton.innerHTML = "Delete";
        deleteButton.addEventListener('click', () => {
          deleteWatchList(name);
        })
        const WatchListName = document.createElement("h2");
        WatchListName.innerHTML = name;
        const ulElement = document.createElement("ul");
        newWatchListDiv.classList.add("list");
        newWatchListDiv.appendChild(deleteButton);
        newWatchListDiv.appendChild(WatchListName);
        newWatchListDiv.appendChild(ulElement);
        parent.insertBefore(newWatchListDiv, referenceElement);
        fetch("/addList", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ list_name: `${name}` }),
        })
          .then((response) => {
            if (!response.ok) {
              throw new Error(
                "Error in createWatchList function " + response.statusText
              );
            }
            return response.json();
          })
          .then((data) => {
            console.log(data);
            alert(data["status"]);
          });
      }

      function deleteWatchList(listName) {
        if (
          confirm(`Are you sure you want to delete the watch list ${listName}?`)
        ) {
          const lists = document.querySelectorAll(".list");
          lists.forEach((list) => {
            if (list.querySelector("h2").textContent === listName) {
              list.remove();
            }
          });
          fetch("/deleteList", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ list_name: listName }),
          })
            .then((response) => {
              if (!response.ok) {
                throw new Error(
                  "Error in deleteWatchList function " + response.statusText
                );
              }
              return response.json();
            })
            .then((data) => {
              console.log(data);
              alert(data["status"]);
            });
        }
      }

      function removeMovie(listName, movieName) {
        if (confirm(`Are you sure you want to remove ${movieName} from ${listName}?`)) {
          fetch("/removeMovie", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ list_name: listName, movie_name: movieName }),
          })
          .then((response) => {
            if (!response.ok) {
              throw new Error("Error in removeMovie function " + response.statusText);
            }
            return response.json();
          })
          .then((data) => {
            console.log(data);
            alert(data["status"]);
            window.location.reload();
          })
        }
      }
    </script>
  </body>
</html>
